<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <title>Book list</title>
</head>

<body>
    <table id="bookList">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publication date</th>
                <th>Review</th>
                <th>Image</th>
                <th>Create</th>
                <th>Tags</th>
            </tr>
        </thead>
    </table>

    <script>
        $(document).ready(function () {
            $('#bookList').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "http://localhost:8000/bookList"
            });
        });
    </script>
</body>

</html>