{% extends "shop/base.html" %}
{% block content %}
{% for book in books %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ book.author }}</a>
        </div>
        <h2>
            <img class="rounded account-img" src="{{ book.image.url }}">
            <a class="article-title" href="{% url 'book-detail' book.id %}">{{ book.title }}</a>
        </h2>
        <p class="article-content">{{ book.review }}</p>
        <p class="article-content">Publisher: {{ book.publisher }}</p>
        <p class="article-content">Publication date: {{ book.publication_date }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}